/*  Fonts   */

@import "../fonts/bebasneue/bebasneue.css";

@import "../fonts/roboto/roboto.css";

/* Base */

@import "./base/reset.css";

@import "./base/base.css";

/* Blocks */

@import './blocks/header.css';

@import './blocks/coach.css';

@import './blocks/beast.css';

@import './blocks/program.css';

@import './blocks/contacts.css';

@import './blocks/footer.css';