.beast {
    /*background-image: url(../../img/beast/beast-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;*/
    position: relative;
    height: 750px;
    padding: 242px 135px;
    overflow: hidden;
}

.beast::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url(../../img/beast/beast-bg.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 10%, 100% 0%, 100% 70%, 0% 83%);
    z-index: 1;
}

.beast__content {
    display: flex;
    flex-direction: column;   
    gap: 30px;
    position: relative;
    z-index: 2;
    /*transform: skewY(5deg); /* компенсируем наклон контента */
}

.beast__title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 75px;
    line-height: 100%;
    letter-spacing: 7.5px;
}

.beast__text {
    font-family: var(--font-base);
    font-weight: 300;
    line-height: 1.5;
    box-shadow: 0px 4px 7px 0px #0000001A;
}

.beast__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    border-radius: 7px;
    max-width: 214px;
    width: 100%;
    min-height: 52px;
    height: auto;
}

.beast__btn-link {
    font-family: var(--font-accent);
    font-size: 19px;
    letter-spacing: 5px;
    line-height: 1;
    color: #000000;
}