.program {
    padding: 9.5rem 8.5rem;
}

.program__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}

.program__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.program__title {
    text-align: center;
}

.program__text {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0px;
    text-align: center;

}

.program__gallery {
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
}

.program__gallery-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.1rem;
}

.program__gallery-row--one {
    grid-template-areas: 
    "item1 item2 item3 item4";
}

.program__gallery-row--two {
    grid-template-areas: 
    "item5 item6 item7 item8";
}

.program__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.program__item-title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 2.7rem;
    color: var(--accent);
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
}

.program__img-wrapper {
    display: flex;
    max-width: 16.8rem;
    width: 100%;
    height: 15.6rem;
}

.program__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.program__item-1 {
    grid-area: item1;
}

.program__item-2 {
    grid-area: item2;
}

.program__item-3 {
    grid-area: item3;
}

.program__item-4 {
    grid-area: item4;
}

.program__item-5 {
    grid-area: item5;
}

.program__item-6 {
    grid-area: item6;
}

.program__item-7 {
    grid-area: item7;
}

.program__item-8 {
    grid-area: item8;
}

@media (max-width: 1350px) { 

    .program__title {
        font-size: 3.8rem;
    }
  
    .program__gallery {
        gap: 2.1rem;
    }

    .program__gallery-row--one {
        grid-template-rows: auto auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "item1 item2"
        "item3 item4";
    }

    .program__gallery-row--two {
        grid-template-rows: auto auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "item5 item6"
        "item7 item8";
    }

}

@media (max-width: 600px) {

   .program {
        padding: 6.5rem 3rem;
    }

    .program__info {
        gap: 1rem;
    }

    .program__title {
        font-size: 3rem;
    }

    .program__text {
        text-align: left;
    }

    .program__gallery-row--one {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
    }

    .program__gallery-row--two {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item5"
        "item6"
        "item7"
        "item8";
    }

}

@media (max-width: 400px) { 

    .program__title, .program__item-title {
        font-size: 2rem;
    }

   .program__info {
        height: auto;
   }

    .program__text {
       font-size: 1rem;
    }

}